#newsletter label {
    width: 200px;
}

div.event-container {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

div.band-member {
	margin:5px;
	border: 1px solid black;
	border-radius: 5px;
}
