<div class="band-member" style="height:100%;">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img alt="band member pic" src={{member.img}} height=120 width=150 style="overflow:hidden; margin:5px; border-radius:2px;"></img>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h4>{{member.name}}</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>{{member.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>