<div class="container">
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <h1>{{title}}</h1>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            <p>Have a listen to some of our latest tracks. Please support the band by purchasing on iTunes or Amazon Music</p>
            <audio-element track="clarksville"></audio-element>
            <audio-element track="daydream"></audio-element>
            <audio-element track="believer"></audio-element>
            <audio-element track="stepping"></audio-element-->
            <p>For more tracks check out our <a href="http://www.youtube.com">YouTube channel</a></p>
        </div>
    </div>
</div>